@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the test app for APARU</h1>
    <p>create a database before starting</p>
</div>
<div class="text-center">
    <p>change a connectionstring in appsetings.json</p>
</div>